TLL/Schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Turnaje">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Turnaj" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Jmeno" type="xs:string"/>
							<xs:element name="Liga" type="xs:string"/>
							<xs:element name="Vyherce" type="xs:string"/>
							<xs:element name="Lokace">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Zeme" type="xs:string"/>
										<xs:element name="Mesto" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Datum" type="xs:date"/>
							<xs:element name="Zapasy">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Zapas" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Tym_A" type="xs:string"/>
													<xs:element name="Tym_B" type="xs:string"/>
													<xs:element name="Vyherce" type="xs:string"/>
													<xs:element name="Delka_trvani_minuty" type="xs:integer"/>
												</xs:sequence>
												<xs:attribute name="Cislo" type="xs:integer"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="Pocet" type="xs:integer"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
